* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  height: 100vh;
  display: grid;
  place-content: center;
  align-items: center;
}

.homepage-container {
  display: grid;
  gap: 1rem;
}

.register-login-form-container {
  display: grid;
  gap: 1rem;
}

.register-login-form {
  display: grid;
  gap: 1rem;
}
