* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1,
p,
#failed-login-register-error {
  text-align: center;
}

#root {
  height: 100vh;
  display: grid;
  place-content: center;
  align-items: center;
}

#failed-login-register-error {
  color: red;
  font-weight: bold;
}

.homepage-container {
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 2rem;
}

.register-login-form-container {
  display: grid;
  gap: 1rem;
  width: 300px;
}

.register-login-form {
  display: grid;
  gap: 1rem;
  width: 100%;
}

.links {
  text-decoration: none;
  color: ;
}
